CMM_STORAGE_DIR=./storage
CMM_DB_PATH=./cmm.db
CMM_WEB_PORT=8000

CMM_S3_ENDPOINT_URL=https://s3.ca-central-1.wasabisys.com
CMM_S3_REGION_NAME=ca-central-1
CMM_S3_BUCKET_NAME=
CMM_S3_ACCESS_KEY_ID=
CMM_S3_SECRET_ACCESS_KEY=
CMM_S3_PREFIX=car-footage
